<div>
  {{title}}
      <div style="height:10px"></div>
  <ng-container>
      <div>
        Path to read all files : <input [(ngModel)]="name" #readAllFiles= "ngModel" type="text" >
        <p>Value: {{ name }}</p>
        <p>Valid: {{ readAllFiles.valid }}</p>
      </div>
      <div style="height:10px"></div>
      <div>
        Upload Excel : <input type="file" id="file" multiple (change)="getFileDetails($event)">
      </div>
      <div style="height:10px"></div>
      <div>
        <button (click)="uploadFiles(name)">Upload</button>
      </div>
  </ng-container>
</div>